<div class="footer-dark">
  <div>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="">Ropa</a></li>
                      <li><a href="">Comida</a></li>
                      <li><a href="">Bancos</a></li>
                      <li><a href="">Electronicos</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="">Compañía</a></li>
                      <li><a href="">Equipo</a></li>
                      <li><a routerLink="/login">Login</a></li>
                      <li><a routerLink="/register">Register</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Control de Sucursales</h3>
                  <p>Empresa dedicada a controlar las sucursales y los productos de las mismas 
                      que tienen las empresas asociadas.</p>
              </div>
              <div class="col item social"><a href=""><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <p class="copyright">Control de Sucursales © 2022</p>
      </div>
    </div>
</div>